.scoreboard {
    width: min(80rem, 90%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem auto
}

.scoreboard * {
    width: 6rem;
}

#game {
    width: min(80rem, 90%);
    aspect-ratio: 4 / 3;
    margin: 2rem auto
}